.gform-preview {grid-column: 1/-1;}
.gform-preview table {width: 100%;margin: 1rem 0;}
.gform-preview table th, .gform-preview strong {font-weight: bold;}
.gform-preview table td, .gform-preview table th {border: 1px solid #CCC;padding: 1rem;}
.gform-preview .summary-actions {display: flex;gap: 2rem;justify-content: center;}
.loader {position: relative;}
.loader:after {content: "" !important;border: 5px solid #ccc;border-top: 5px solid #000;border-radius: 50%;width: 20px;height: 20px;animation: spin 2s linear infinite;display: inline-flex;margin-left: 10px;}
.gform-body .loader:before, .gform_footer .loader:before{content: unset !important;}
.braintree_cc_submit_btn {margin-left: 0 !important;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }